{% import 'ImaticViewBundle:Component:menu.html.twig' as menu %}
{% import 'ImaticViewBundle:Component:message.html.twig' as message %}
{% import 'ImaticViewBundle:Component:button.html.twig' as button %}
{% set asset_bundle_name = asset_bundle_name is defined ? asset_bundle_name : 'bundles/imaticview/platform' %}
{% block document -%}
<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}" data-base-path="{{ app.request.basePath }}">
<head>
    <meta charset="UTF-8">

    {% block stylesheets %}
        {%- if asset_bundle_name is not null -%}
            <link rel="stylesheet" href="{{ asset("#{asset_bundle_name}.css") }}" type="text/css">
        {%- endif -%}
    {% endblock %}

    {% block javascripts %}
        {%- if asset_bundle_name is not null -%}
            <script src="{{ asset("#{asset_bundle_name}.js") }}" type="text/javascript"></script>
        {%- endif -%}
    {% endblock %}

    <title>{% block title_top %}{% spaceless %}
            {% block title %}{{ block('headline') }}{% endblock %}
        {% endspaceless %} - {% spaceless %}
            {% block application_name %}Imatic IS{% endblock %}
        {% endspaceless %}{% endblock %}</title>

    {% block metas -%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block icons -%}
         <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    {% endblock %}
</head>

<body>

{% block body %}

    {% block header_full %}
        <header>
            {% block header %}
                <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button"
                                    class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            {% block header_logo %}
                                <a class="navbar-brand" href="{{ path('homepage') }}">
                                    {% block header_brand %}{{ block('application_name') }}{% endblock %}
                                </a>
                            {% endblock %}
                        </div>

                        <div class="collapse navbar-collapse">
                            <div class="nav-collapse">
                                {% block header_menu %}
                                    {{ menu.menu('imatic.main') }}
                                    {{ menu.menu('imatic.main_side', null, null, { 'class': 'navbar-right' }) }}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            <div class="headline">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7">
                            <h1>{% spaceless %}{% block headline %}{{ block('application_name') }}{% endblock %}{% endspaceless %}</h1>
                        </div>
                        <div class="col-md-5 headline-side">
                            {% block headline_side %}{% block page_actions %}{{ button.group(page_actions|default([]), _context) }}{% endblock %}{% endblock %}
                        </div>
                    </div>

                    {% block breadcrumbs %}
                    {% endblock %}
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="container-fluid">
        {% block flashes %}
            {{ message.session_message() }}
        {% endblock %}

        {% block action_before %}{% endblock %}
        {% block action %}{% endblock %}
        {% block action_after %}{% endblock %}
    </div>

    <footer class="container-fluid">
        <div class="footer-content">
            <a title="{{ 'Copyright'|trans({}, 'ImaticViewBundle') }}"
               href="http://www.imatic.cz">{{ 'Copyright'|trans({}, 'ImaticViewBundle') }}</a>
        </div>
    </footer>

{% endblock %}

</body>
</html>
{%- endblock %}
