{% extends 'ImaticViewBundle:Demo/Ajaxify:layout.html.twig' %}

{% block action %}

    <p>
        Hello {{ name }}!<br>
        You pressed &quot;{{ pressed_button }}&quot;.
    </p>

{% endblock %}
